/ajaxtest.js
/CMS试用.txt
/CRM系统
/desktop.ini
/flashbtn.html
/FSCapture.exe - 快捷方式.lnk
/geek.exe
/hello.js
/HTML 标签简写及全称.xls
/jquery-3.5.1.min.js
/MarkMark.exe - 快捷方式.lnk
/mstsc.exe.lnk
/progit.pdf
/register-new.html
/Snipaste.exe - 快捷方式.lnk
/study - 快捷方式.lnk
/testbtn.html
/TightVNC Viewer.lnk
/Transit platform-layUI
/Transit platform-vue
/Visual Studio Code.lnk
/vuetest
/wechat-miniprogram-demos-master
/weui-wxss-master
/WPS Office.lnk
/www
/~$系统重装步骤.docx
/下载 - 快捷方式.lnk
/中转平台.jpg
/中转平台导航栏.png
/人事财务相关资料 - 快捷方式.lnk
/信息部 (192.168.5.230)
/分页器
/单点登录了解连接.txt
/单点登录图解.png
/响应式官网 - 快捷方式.lnk
/官网后台测试登录.txt
/官网后台（去flash）
/小程序测试号.txt
/工作备忘录.xls
/已完成事项相关文件 - 快捷方式.lnk
/常用图形素材
/常用地址.txt
/康立明小百度.html
/康立明小百度修改.md
/康立明数据中心接口文档_v1.0.pdf
/待完成事项相关文件 - 快捷方式.lnk
/微信开发者工具.lnk
/数据可视化
/文件服务器.lnk
/日常操作.md
/泳道流程图.jpg
/迅雷.lnk